.myheader{
    display: flex;
    height: 20vh;
    background-color: #d697e4;
}
.mysection{
    display: flex;
    height: 80vh;
}
.mysection .page_menu{
    padding: 20px;
    width: 20%;
    background-color: #d1dadb;
}
.mysection .page_content{
    padding: 20px;
    width: 60%;
    background-color: #97e9f2;
}
.mysection .page_discription{
    padding: 20px;
    width: 20%;
    background-color:#d1dadb;
}
.myheader .logo{
    width: 40%;
}
.myheader .menu_list{
    width: 60%;
    text-align: right;
}
.myheader .menu_list a{
    margin-right:10px;
    font-size: 20px;
    text-decoration: none;
}